.header{
    width: 100%;
    max-width: 1200px;
    height: auto;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10%;

    position: sticky;
    top: 0;

    flex-wrap: wrap;
    padding: 2%;
    text-align: center;

    background: radial-gradient(circle at 80% 90%, rgb(68, 68, 68), rgb(37, 37, 37));
    color: white;
}

.header__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40%;

    list-style: none;
}

.header__list__item__link{
    color: white;
}

.header__link{
    aspect-ratio: 1/1;
    width: 8%;
    max-width: 100px;
    min-width: 55px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: clamp(2px, 1vw, 100px);

}

.header__link__logotipo{
    width: 100%;
}

.header__copy{
    font-size: clamp(14px, 1vw, 100px);
}

@media (max-width: 768px) {
    .header{
        flex-direction: column;
    }
}