.cart{
    width: 100%;
    max-width: 1200px; 

    margin: 2vw 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;

    text-align: center;
}

.cart__list{
    width: 60vw;
    min-width: 250px;
    max-width: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
}

.cart__item{
    aspect-ratio: 16/9;
    width: 100%;

    background: linear-gradient(to right, rgb(226, 226, 226), rgb(229, 244, 184));
    overflow: hidden;
    border-radius: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;

    transition: .3s;
}

.cart__item:hover{
    box-shadow: 1vw 1vw 1vw rgba(0, 0, 0, 0.518);
}

.cart__item__img{
    aspect-ratio: 1/1;
    width: 20%;
}

.cupon{
    background-color: rgba(255, 255, 0, 0.663);
}

.buttons-in-cart{

    width: 40%;
    min-width: 250px;

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 1vw;

    position: fixed;
    bottom: 15px;

    background-color: rgba(0, 0, 0, 0.674);
    border-radius: 1rem;
    padding: 10px;
}

.buttons-in-cart__btn{
    background: radial-gradient(circle at 80% 50%, rgb(56, 56, 56), rgb(7, 7, 7));
    border: none;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-size: clamp(12px, 1vw, 100px);
    transition: .3s;
    cursor: pointer;
}

.buttons-in-cart__total-price{
    color: white;
    font-size: clamp(12px, 1vw, 100px);
}

.buttons-in-cart__btn:hover{
    color: blanchedalmond;
    box-shadow: 0px 0px 1rem yellow;
}

